<html>
    <head>
        <title>Concert Viewer</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
        <link rel="stylesheet" type="text/css" href="/public/styles.css">
    </head>
    <body>
        <div class="container">

            {{{body}}}
        </div>
    </body>
</html>