<h2>Edit {{tour.name}} Tour</h2>

<form action="/{{tour._id}}?_method=PUT" method="POST">
    <input name="name" type="text" placeholder="Tour Name">
    <input type="submit" value="Submit">
</form>

<a href="/">Home</a>