

<h1>Welcome to The Concert Viewer</h1>
{{#each tours}}
    <ul>
        <li>
            <a href ="/{{_id}}">
                {{name}} 
            </a>
        </li>
    </ul>
    <a href="/{{_id}}/edit">Edit</a>
{{/each}}

</br>
</br>
<a href ="/new">Add Tour</a>