
<div class="container ">
    <header class="hero is-dark ">
        <div class="hero-body">
            <h1 class="title has-text-centered">Welcome to The Concert Viewer</h1>
        </div>
    </header>
    
    <main class="section has-background-grey-light is-fullheight has-text-black has-text-weight-bold">
        <div class="hero-body">
        </br>
        
        {{#each tours}}
            <ul>
                <li class="list-item">
                   <i class="fas fa-skull-crossbones"></i>
                    <a href ="/band/{{_id}}">
                        {{name}} 
                    </a>
                </li>
            </ul>
            <a class="button is-dark is-small" href="/{{_id}}/edit">Edit</a>
            <a class="button is-dark is-small" href="/{{_id}}/delete">Delete</a>
            </br>
            </br>
        {{/each}}

        </br>
        </br>

        <form action="/" method="POST">
            <label for="name">Tour Name</label>
            <input type="text" name="name" placeholder="Tour name">
            <input class="button is-dark is-small" type="submit" value="Submit">
        </form>
        </div>
    </main>
</div>