<h1>Tours</h1>
<ul>
    {{#each tours}}
    <li>
        <a href ="/tours/{{_id}}">
            {{name}}
        </a>
    </li>
    {{/each}}
</ul>

<form method ="POST" action="/tours">
    <label for="name">Name</label>
    <input type="text" name="name" />
    <input type="submit" value="New" />
</form>