

<h1> Add a new Band</h1>
</br>
<form action="/{{tour._id}}" method="POST">
    <input type="text" name="name" placeholder="Band name">
    <input type="submit" value="Submit">
</form>

<a href ="/">Home</a> <a href="/{{tour._id}}">Back</a>