
<div class="container">
    <header class="hero is-dark">
        <div class="hero-body">
            <h1 class="title has-text-centered"> Add a new Band</h1>
        </div>
    </header>
    
    <main class="section has-background-grey-light">
        <form action="/{{tour._id}}" method="POST">
            <input type="text" name="name" placeholder="Band name">
            <input class="button is-dark is-small" type="submit" value="Submit">
        </form>
        </br>
        </br>
        <a class="button is-dark" href ="/">Home</a>
    </main>
</div>
