
<div class="container ">
    <header class="hero is-dark ">
        <div class="hero-body">
            <h1 class="title has-text-centered">Tour</h1>
        </div>
    </header>
    
    <main class="section has-background-grey-light is-fullheight has-text-black has-text-weight-bold">
        <div class="hero-body">
        </br>
        
        {{#each bands}}
            <ul>
                <li>
                    <a href ="/member/{{_id}}">
                        {{name}} 
                    </a>
                </li>
            </ul>
            <a class="button is-dark is-small" href="/band/{{_id}}/edit">Edit</a>
            <a class="button is-dark is-small" href="/band/{{_id}}/delete">Delete</a>
            </br>
            </br>
        {{/each}}

        </br>
        </br>
        <form action="" method="POST">
            <label for="name">Band Name</label>
            <input type="text" name="name" placeholder="Band name">
            </br>
            <label for="name">Origin</label>
            <input type="text" name="location" placeholder="Origin">
            </br>
            <label for="name">Genre</label>
            <input type="text" name="genre" placeholder="Genre">
            </br>
            </br>
            <input class="button is-dark is-small" type="submit" value="Submit">
        </form>
        </br>
        </br>


        <a class="button is-dark" href ="/">Home</a>
        </div>
    </main>
</div>